<div class="row">
	
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	
		<%= render @events %>

		<%= render @articles %>

	</div>

	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Síguenos</h3>
			</div>
			<div class="panel-body">
				Boton twttr fbck etc
			</div>
		</div>

		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Compartido GDG</h3>
			</div>
			<div class="panel-body">
				
			</div>
		</div>

	</div>

</div>