<div class="panel">
	<div class="panel-body">
		<h1><%= link_to event.title, event %></h1>
		<div>
			<%= truncate(event.body, length: 50) %>
			<% if user_signed_in? %>
				<% if current_user.is_editor? %>
					- <%= link_to 'Eliminar', event, method: :delete %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>