<div class="panel">
	<div class="panel-body">
		<div class="image image-rounded">
			<%= image_tag event.cover.url(:thumb), style: 'width: 100%; height: 100px;' %>
		</div>
		<h1><%= link_to event.title, event %></h1>
		<div>
			<%= truncate(Sanitize.fragment(event.body).html_safe, length: 50) %>
			<% if user_signed_in? %>
				<% if current_user.is_editor? %>
					- <%= link_to 'Eliminar', event, method: :delete %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>