<div class="panel">
	<div class="panel-body">
		<h1>Gracias por contactarte con nosotros!</h1>
		<p>
		Estas invitado a todos nuestros eventos que estemos organizando. 
		</p>
		<p>
		Recuerda que siempre puedes visitarnos al sitio buscar material de presentaciones
		ver nuestro repositorio en <b>Github</b> y si deseas, puedes colaborar con la 
		comunidad creando presentaciones, difusión, etc.
		</p>
		<p>
			Saludos!
		</p>
	</div>
</div>